<h1 class="display-3">IoT Chart</h1>
<p class="lead">Existing devices: here the connected car sample</p>
<hr class="m-y-2">
<div>
    <hr class="m-y-2">
    <table border="1|0" >
      <thead>
        <tr>
            <th>The payload of the connected car sample</th>
        </tr>
      </thead>
      <tbody>
        <tr>
              <td>{{ payload }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div>
   <h1>The IoT Chart showing the current speed</h1>
   <canvas id="iotChart" width="900" height="600"></canvas>
</div>
